<form method="POST" action="{{ path('ftp_download') }}" enctype="multipart/form-data">
    Fichier : <input type="text" name="fichier">
    <input type="submit" name="télécharger" value="télécharger">
</form>