<form method="POST" action="{{ path('ftp_upload') }}" enctype="multipart/form-data">
    Fichier : <input type="file" name="file">
    <input type="submit" name="envoyer" value="Envoyer le fichier">
</form>